@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
:root {
    --color-gradiente1:#042326;
    --color-gradiente2: #0A3A40;
    --color-gradiente3:#0F5959;
    --color-gradiente4:#1D7373;
    --color-texto: #C4EEF2;
    --color-elemento-primary: #F28705;
    --color-elemento-secondary:#F29F05;
    --color-header:black;
}          
body {
    background-image: url(circle-scatter-haikei.png);
    background-size: contain;
    height: 100vh;
}
header {
    font-family: 'press start 2p', cursive;
    background-color: var(--color-header);
    color: var(--color-texto);
}
main {
    font-family: 'press start 2p', cursive;
}
input::placeholder {
    font-family: 'press start 2p', cursive;
}
.line-through {
    text-decoration: line-through 3px solid var(--color-elemento-secondary);
}