
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
:root {
    --color-fondo: #ffcccc;
    --color-gradiente: #ff99cc;
    --color-texto: white;
    --color-elemento: #ff99cc;
}

body {
    margin: 0;
    background: linear-gradient(to bottom, var(--color-fondo), var(--color-gradiente));
    height: 100vh;
    font-family: 'Press Start 2P', cursive;
}

header {
    padding: 20px;
    height: 10vh;
    background: var(--color-elemento);
    color: var(--color-texto);
    text-align: center;
    width: 100%;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#entrada {
    display: flex;
    justify-content: center;
    width: 70%;
    margin: 20px;
}

#lista {
    display: flex;
    flex-direction: column;
    width: 70%;
    border-radius: 5px;
    margin: 10px;
}

#lista li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--color-elemento);
    border-radius: 5px;
    padding: 10px;
    margin: 5px 0;
}

#lista .text {
    flex: 1;
    margin: 0 10px;
}

.line-through {
    text-decoration: line-through;
}

.far, .fas {
    cursor: pointer;
}