@import"https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap";
:root{
    --text-color: #d7fff6;
    --gradient-color-1: #000000;
    --gradient-color-2: #020c0f;
    --gradient-color-3:#051d26;
    --gradient-color-4:#082e3d;
    --gradient-color-5:#0b3f53;
    --gradient-color-6:#0e516a;
    --hover-nav-color: #DBF227;
    --hover-aside-color: #00ff80;
}
body, main{
    background-image: linear-gradient(180deg, var(--gradient-color-1), var(--gradient-color-1), var(--gradient-color-2),var(--gradient-color-2), var(--gradient-color-3),var(--gradient-color-3),var(--gradient-color-4) , var(--gradient-color-5), var(--gradient-color-6),var(--gradient-color-1));
}
html, body{
    height: 100%;
    margin:0;
    
}
main{
    flex: 1;   
}
nav a{
    padding: 5px;
    text-decoration: none;
    color: var(--text-color)

}
nav{
    border-top: var(--text-color) 2px solid;
    border-color: var(--text-color);
}
nav img{
    width: 100px;
    height: 100px;
}
nav a:hover{
    border-radius: 4px;
    box-shadow: 0 0 20px var(--text-color);
    background-color: var(--text-color);
    color: var(--gradient-color-1);
}
aside a{
    padding: 5px;
    text-decoration: none;
    color: var(--text-color);
}
aside a:hover{
    border-radius: 4px;
    box-shadow: 0 0 20px var(--text-color);
    background-color: var(--text-color);
    color: var(--gradient-color-1);
}
article{
    color: var(--text-color);
}
