body{
    margin: 0;
    font-family: Display;
    background-image: linear-gradient(135deg, #05080D ,#112E40,#42778C,#80A7BF);
    background-size: 500%;
    min-height: 100vh
}   
a{
    text-decoration: none;   
    color: white; 
}
header{
    display: flex;
    min-height: 70px;
    background-color: #05080D;
    color: white;
    
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    height: 50px;
    margin-right: 10px;
    border-radius: 10%;
}
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
nav a{
    margin-right: 10px;
    font-weight:600 ;
}
nav a:hover{
    color: #80A7BF;
}
@media (max-width: 768px){
    header{
        flex-direction: column;
        height: 100px;
    }
    nav{
        padding: 10px 0px;;
    }
    
}